*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
*.log
*.hprof

# Keystore
*.jks
*.keystore

# Built application files
app/build/
app/release/
